# Q1 :

A for loop should be used when the programmer knows how many time the loop should run. 
example:

Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)


If the requirement of the loop is to break based on a condition irrespective of the number of times it runs then in that case we should use while loop.
example:

Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1

# Q2 :

In [6]:

#Sum using for loop
l = list(range(1,11))
result = 0
for i in l:
    result = result + i
result

55

In [17]:
#product using for loop

l = list(range(1,11))
result = 1
for i in l:
    result = result * i
result

3628800

In [15]:
# sum using while loop
n = 10
start = 0
counter = 1

while counter <= n:
    start = start + counter
    counter =counter + 1
start

55

In [16]:
# product using while loop
n = 10
start = 1
counter = 1

while counter <= n:
    start = start * counter
    counter =counter + 1
start

3628800

# Q3 :

In [35]:
units= float(input("enter number of units used : "))


if units > 300 :
        j= (units-300)*20
        k= (100*10)
        l= (100*6)
        m=(100*4.5)
        result= j+k+l+m
        print("Electricity bill is :",result)

elif units>200 and units<=300:
    j=(units-200)*10
    k=100*6
    l=100*4.5
    result = j+k+l
    print("Electricity bill is : " , result)

elif units>100 and units<=200:
    j=(units-100)*6
    k=100*4.5
    result = j+k
    print("Electricity bill is : " , result)
else:
    result = units*4.5
    print("Electricity bill is : " , result)

enter number of units used :  110

Electricity bill is :  510.0

# Q4 :

In [44]:
l = list(range(1,100))
l1=[]
for i in l:
    if i%4 == 0 or i%5== 0:
        l1.append(i)
print("list of numbers divisible by 4 or 5 is ",l1)

list of numbers divisible by 4 or 5 is  [4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96]

In [47]:
#using comprehension
l2 = [i for i in l if i%4==0 or i%5==0]
print(l2)

[4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96]

# Q5 :

In [57]:
v = ["a","e","i","o","u"]

string= "I want to become a data scientist"

count=0

for i in string:
    for j in v:
        if i.lower() == j:
            count = count + 1
count

12