Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
l = [4, 8, 15, 16, 23,42]

In [4]:
l_series = pd.Series(l)

In [6]:
type(l_series)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [8]:
l1_ser = pd.Series(l1)

In [9]:
l1_ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [10]:
type(l1_ser)

pandas.core.series.Series

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [11]:
data = { "Name" :['Alice','Bob','Claire'],
        "Age" : [25,30,27],
        "Gender" : ['Female','Male','Female']
}

In [12]:
df = pd.DataFrame(data)

In [13]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

Pandas Series	
One-dimensional	
Homogenous – Series elements must be of the same data type.	
Size-immutable – Once created, the size of a Series object cannot be changed.

Pandas DataFrame:
Two-dimensional
Heterogenous – DataFrame elements can have different data types.
Size-mutable – Elements can be dropped or added in an existing DataFrame.

#Creating a Series from dict

In [14]:

data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data, name='series_from_dict')
print(series)

Mon      22
Tues     23
Wed      23
Thurs    24
Fri      23
Sat      22
Sun      21
Name: series_from_dict, dtype: int64

#Creating a DataFrame from a dictionary of lists

In [17]:

data = {
    "Class 1": [22, 33, 38],
    "Class 2": [45, 28, 36], 
    "Class 3": [32, 41, 47]
}

In [18]:
df = pd.DataFrame(data=data, index=['math avg', 'science avg', 'english avg'])

In [19]:
df

             Class 1  Class 2  Class 3
math avg          22       45       32
science avg       33       28       41
english avg       38       36       47

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

1. Pandas.DataFrame - To create a dataframe in pandas
2. read_excel - To read files from excel files
3. DataFrame.isnull() - This function returns a Boolean value and flags all rows containing                         null values as True
4. DataFrame.describe() - The describe() function gives you the summary statistic of a                               DataFrame

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All of these are value mutable i.e their value can be mutated.
All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [20]:
data = pd.DataFrame({
    "Class 1": pd.Series([22, 33, 38], index=["math avg", "science avg",  "english avg"]),
    "Class 2": pd.Series([45, 28, 36], index=["math avg", "science avg",  "english avg"]),
    "Class 3": pd.Series([32, 41, 47], index=["math avg", "science avg",  "english avg"])
})

In [21]:
data

             Class 1  Class 2  Class 3
math avg          22       45       32
science avg       33       28       41
english avg       38       36       47

created a dataframe using a dictionary containing multiple series.